.DS_Store
*.log
node_modules/
public/lib/
.bower-*/
.idea/
.vscode/
.data/*
*.rest

# WEBSENSO
mongo/
docker-compose.*
config/env/production.js
config/env/development.js
websensoZzzImportPythonToMongo/
