<section data-ng-controller="TownsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Town</h1>
	</div>
	<div class="col-md-12">
		<form name="townForm" class="form-horizontal" data-ng-submit="update()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="name">Title</label>
					<div class="controls">
						<input name="name" type="text" data-ng-model="town.name" id="name" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Content</label>
					<div class="controls">
						<textarea name="description" data-ng-model="town.description" id="description" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
