<section data-ng-controller="TownsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="town.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == town.user._id">
		<a class="btn btn-primary" data-ui-sref="towns.edit({townId: town._id})">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="town.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="town.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="town.description"></p>
</section>
