<section data-ng-controller="ProductsController" data-ng-init="find()">
	<div class="page-header">
		<h1>Products</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="product in products" class="list-group-item"><!--data-ui-sref="products.view({productId: product._id})"//-->
			<small class="list-group-item-text">
				Création : 
				<span data-ng-bind="product.created | date:'mediumDate'"></span> - 
				Dernière MAJ : 
				<span data-ng-bind="product.lastUpdate | date:'mediumDate'"></span> - 
				Member = 
				<span data-ng-bind="product.member"></span> - 
				Géotrek ID = 
				<span data-ng-bind="product.specialId"></span> - 
				Apidae ID = 
				<span data-ng-bind="product.specialIdSitra"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="product.name"></h4>
			<p class="list-group-item-text" data-ng-bind="product.description"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="products.$resolved && !products.length">
		No products yet, why don't you <a data-ui-sref="products.create">create one</a>?
	</div>
</section>
